.ochrana {
    margin-top: 48px;
}

.ochrana h1 {
    font-size: 48px;
    font-weight: 800;
    text-transform: uppercase;
    color: #FFF;
    text-align: center;
}

.content {
    padding-top: 52px;
}

.content .container {
    margin-bottom: 0;
}

.content .container div {
    margin-bottom: 32px;
}

.content ul {
    list-style: initial;
    margin-left: 20px;
}

.content {
    color: rgba(255, 255, 255, 0.8);
}

.content h2 {
    font-weight: 600;
    font-size: 32px;
}

.content p {
    font-size: 16px;
}

.content p:last-of-type {
    margin-top: 32px;
}

@media (max-width: 1280px) {
    .ochrana {
        margin-top: 32px;
    }
}

@media (max-width: 768px) {
    .ochrana h1 {
        font-size: 38px;
    }
}

@media (max-width: 640px) {
    .ochrana {
        margin-top: 0px;
    }

    .ochrana h1 {
        font-size: 32px;
    }
}

@media (max-width: 420px) {
    .ochrana h1 {
        font-size: 32px;
    }

    .content h2 {
        font-size: 26px;
    }
}